


.Landing{
  background-image: url("../../public/assets/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.landingInfoBox{
  padding-top: 10vh;
}
.mylink{
  border-bottom: 1px solid #616161;

}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:linear-gradient(to bottom,rgba(8, 8, 8, 0.74),rgba(39, 39, 39, 0.13));
  z-index: 2;
  
  
  
  
}
  .landingname {
    font-size: 100px!important;
  }
  
  .landingtext {
    font-size: 40px !important;
  }
  .colorfont{color:var(--secondary-color);}

@media (max-width:480px){
 
  .landingInfoBox {
    padding-top: 18vh;
    


  }
  .landingname{
    font-size: 40px !important;
  }
  .landingtext{
    font-size: 20px !important;
  }
}
@media (min-width:480px) and (max-width:900px) {

  .landingInfoBox {
    padding-top: 18vh;



  }

  .landingname {
    font-size: 60px !important;
  }

  .landingtext {
    font-size: 30px !important;
  }
}

.arrow {
  animation: arrow 1.5s ease-in-out both;
  animation-iteration-count: infinite;

}

/* @media (max-width: 768px) .hero .go-down {
  bottom: -50px;
} */
@keyframes arrow {

  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0%);
  }

  40%,
  60% {
    transform: translateY(-30%);
  }

}
/* #############about##############3 */


.iconContact:hover {
  color:white;
  background-color:var(--secondary-color);
  transition: all .3s ease-in-out;
  transform: scale(1.3);
}
.paperLink:hover{
  background-color: #d4d3d3;
}
.paperLink2{
  background-color: #212529;
  color: white;
}
.paperLink2:hover{
  background-color: black;
}


/*###################projects############*/
.projectBox {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px;
  color: white;




}


.boximage {
  width: 100%;
  height: 300px;
  overflow: hidden;
  opacity: 1;
  z-index: 2;




}
.boxbody{
  position: absolute;
  /* z-index: 4; */
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.637);
  left: 0%;
  bottom: 0%;
  text-align: center;
  width: 100%;
  height: 100px;
  text-align: start;
  padding: 15px;
} 
/* .projectBox{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 'center';
  background-image:linear-gradient(to bottom, #00000080, rgba(83, 81, 81, 0.678)),url(../../public/assets/ai-nuclear-energy-background-future-innovation-disruptive-technology.jpg);
  width: 100%;
  height: 250px;
  padding: 50px 20px;
  color: white;
  border-radius: 10px;
  transition: all .5s ease-in-out;
  
} */
/* .projectBox:hover{
  transform: scale(.9);
  background-image:linear-gradient(to bottom, #00000080, rgba(24, 163, 218, 0.829)),
  url(../../public/assets//ai-nuclear-energy-background-future-innovation-disruptive-technology.jpg);



} */
.normalButton{
  width: 200px;
  margin: auto;
  padding: 20px;
  margin-top: 30px;
  font-size: larger;
  background-color: #212529;
  border-style: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
.normalButton:hover{
  background-color: var(--secondary-color);
  transform: scale(1.1);
  transition: all 1s ease-in-out;
}

.projecttext{
  font-size: 25px;
  font-weight: bold;

}
.projectbody{
  font-size: 18px;

}
@media (max-width:480px) {
  .projecttext {
    font-size: 20px;
  
  }
  
  .projectbody {
    font-size: 15px;
  
  }
  .boxbody{
    height: 120px;
  }

}


/*############Papers############ */
.linkText:hover{
  text-decoration: underline var(--secondary-color);
}
.iconLink:hover{
  color: #c7933a;
}

/*############contact ############*/
.contactBox{
  text-align: center;
  color: white;
  background-color: #212529;
  background-image: url(../../public/assets/map-image\ \(1\).png);
  /* background-image:linear-gradient(to bottom, #00000080, rgba(83, 81, 81, 0.678)),
  url(../../public/assets/map-image\ \(1\).png);  */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  overflow: hidden;
  

}

.normalButton2 {
  width: 200px;
  margin: auto;
  padding: 20px;
  margin-top: 30px;
  
  font-size: larger;
  background-color: var(--primary-color);
  border-style: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.normalButton2:hover {
  background-color: var(--primary-color);
  transform: scale(1.1);
  transition: all 1s ease-in-out;
}
.frontendavatar:hover{
  transition: all 0.3 ease-out;
  transform: scale(1.2);
  
}